<footer class="has-text-centered">
    <p>Sigue las redes del Barça</p>
    <div class="grid">
        <a class="cell box" href="https://www.facebook.com/fcbarcelona/">Facebook</a>
        <a class="cell box" href="https://x.com/fcbarcelona_es">X</a>
        <a class="cell box" href="https://www.youtube.com/user/fcbarcelona">Youtube</a>
        <a class="cell box" href="https://www.instagram.com/fcbarcelona/">Instagram</a>
    </div>
    <img src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/soccer/500/83.png" alt="" width="50">
    <p>FC BARCELONA</p>
</footer>
</body>
</html>